@charset "UTF-8";
/* 
Machote de las tipografías:

Extralight
font-family: 'Mulish', sans-serif;
font-weight: 200;

Regular
font-family: 'Mulish', sans-serif;
font-weight: 400;

Bold
font-family: 'Mulish', sans-serif;
font-weight: 700;

*/
.navbar {
  background: #91C4C1 !important;
}

.logo {
  width: 100px;
  height: 50;
}

.menu-link {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white !important;
}

.menu-link:hover {
  color: #fff !important;
}

.dropdown-item {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #9E9E9E;
}

.search-control {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 18px;
  border-radius: 3em;
}

.search-btn {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background: #1A535C;
  color: #fff;
  border-radius: 3em;
  text-decoration: none;
  box-shadow: none;
}

.search-btn:hover {
  background: #D1AB80;
  color: #fff;
}

.event-body {
  padding: 15em 8em;
  background: url(../imgs/header.jpg);
  background-size: cover;
}

.event-title {
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 60px;
}

.info-event-section {
  padding: 3em 8em;
}

.pills-btn {
  color: #1A535C;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

.pills-btn:hover {
  color: #1A535C;
  border: 1px solid #1A535C;
  border-radius: 0.25em;
}

.pills-btn.active {
  color: #fff;
  background-color: #1A535C !important;
}

.pills-text {
  font-family: "Mulish", sans-serif;
  font-weight: 200;
}

.pills-text-bold {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

.tab-box {
  padding: 1em;
  border: 1px solid #1A535C;
  border-radius: 0.25em;
}

.registrarse-btn {
  background: #1A535C;
  color: #fff;
  padding: 0.7em;
  margin: -1em 2em 1em;
  border-radius: 2em;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  font-weight: 200;
  float: right;
  box-shadow: none !important;
}

.registrarse-btn:hover {
  background: #D1AB80;
  color: #fff;
  box-shadow: none;
}

.modal-title {
  float: left;
}

.modal-header-1 {
  background: #91C4C1 !important;
  padding: 0.3em 4em;
}

.logo-modal {
  float: left;
  width: 100px;
  height: 50;
  padding: 0 0.5em;
  margin: 6px -3.5em;
}

.btn-close {
  float: right;
  padding: 0.6em 8em;
  margin: 0 -10.5em;
  color: #fff !important;
  box-shadow: none;
}

.btn-close:hover {
  color: #D1AB80 !important;
  box-shadow: none;
}

.modal-body-1 {
  background: #fff;
  padding: 8em 4em;
}

.titulo-body1 {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  text-align: left;
  padding: 1em 2em;
}

.info-body1 {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  text-align: left;
  padding: 1em 0.7em;
}

.opcionales {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  padding: 1em 0.3em;
}

.niños-bar {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  background-color: #91C4C1;
  color: #fff;
}

.niños-select {
  box-shadow: none !important;
}

.adultos-bar {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  background-color: #91C4C1;
  color: #fff;
}

.adultos-select {
  box-shadow: none !important;
}

.modal-footer-1 {
  background: #91C4C1 !important;
  padding: 0.4em 4em;
}

.subtotal-bar {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  background-color: #91C4C1;
  color: #fff;
}

.total-monto {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  background-color: #D1AB80;
  color: #fff;
}

.btn-modal-1 {
  padding: 0.3em 2em;
  margin: 3px 115px;
  background-color: #1A535C;
  border-color: #1A535C;
  color: #fff !important;
  box-shadow: none;
  border-radius: 2em;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  font-weight: 200;
  box-shadow: none !important;
}

.btn-modal-1:hover {
  background-color: #F28787 !important;
  color: #fff !important;
  border-color: #F28787;
  box-shadow: none;
}

.modal-header-2 {
  background: #91C4C1 !important;
  padding: 0.5em 4em;
}

.logo-modal {
  float: left;
  width: 100px;
  height: 50;
  padding: 0 0.5em;
  margin: 6px -3.5em;
}

.modal-body-2 {
  background: #fff;
  padding: 6em 4em;
}

.modal-footer-2 {
  background: #91C4C1 !important;
  padding: 0.4em 4em;
}

.modal-body-2 {
  background: #fff;
  padding: 8em 4em;
}

.titulo-body2 {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  text-align: left;
  padding: 1em 0em;
}

.subtitulo-body2 {
  font-family: "Mulish", sans-serif;
  font-weight: 200;
  text-align: left;
  padding: 1em 0em;
  margin: -42px 0px 8px;
}

.registro {
  padding: 0.1em 2em 1.2em;
}

.datos-registro {
  font-family: "Mulish", sans-serif;
  font-weight: 200;
}

.btn-modal-2 {
  padding: 0.3em 2em;
  margin: 3px 115px;
  background-color: #1A535C !important;
  border-color: #1A535C;
  color: #fff !important;
  box-shadow: none;
  border-radius: 2em;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  font-weight: 200;
  box-shadow: none !important;
}

.btn-modal-2:hover {
  background-color: #F28787 !important;
  color: #fff !important;
  border-color: #F28787;
  box-shadow: none;
}

.modal-header-3 {
  background: #91C4C1 !important;
  padding: 0.4em 4em;
}

.logo-modal {
  float: left;
  width: 100px;
  height: 50;
  padding: 0 0.5em;
  margin: 6px -3.5em;
}

.modal-body-3 {
  background: #fff;
  padding: 3em 1em;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.modal-footer-3 {
  background: #91C4C1 !important;
  padding: 0.4em 4em;
}

.btn-modal-3 {
  padding: 0.3em 2em;
  margin: 3px 115px;
  background-color: #1A535C;
  color: #fff !important;
  box-shadow: none;
  border-radius: 2em;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
  font-weight: 200;
  box-shadow: none !important;
  border-color: #1A535C;
}

.btn-modal-3:hover {
  background-color: #F28787 !important;
  color: #fff !important;
  border-color: #F28787;
  box-shadow: none;
}

.related-event {
  padding: 4em 8em;
  background-color: #91C4C1;
}

.related-title {
  padding: 0 0 0.5em;
  color: #1A535C;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 30px;
}

.card-title {
  color: #1A535C;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}

.card-text {
  color: #1A535C;
  font-family: "Mulish", sans-serif;
  font-weight: 200;
  font-size: 15px;
  text-align: center;
}

.footer-body {
  padding: 1.5em 8em;
  background: #D1AB80;
  background-size: cover;
}

.footer-quote {
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-weight: 200;
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 820px) {
  .navbar {
    background: #91C4C1 !important;
  }

  .logo {
    width: 100px;
    height: 50;
    margin: auto;
  }

  .menu-link {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 18px;
  }

  .menu-link:hover {
    color: #1A535C !important;
  }

  .dropdown-item {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #9E9E9E;
  }

  .search-control {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 18px;
    border-radius: 3em;
  }

  .search-btn {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-size: 15px;
    background: #1A535C;
    color: #fff;
    border-radius: 3em;
    text-decoration: none;
  }

  .search-btn:hover {
    background: #D1AB80;
    color: #fff;
  }

  .event-body {
    padding: 7em 1.5em;
    background: url(../imgs/header.jpg);
    background-size: cover;
  }

  .event-title {
    color: #fff;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
  }

  .info-event-section {
    padding: 3em 1em;
  }

  .pills-descrip {
    background-color: 1A535C;
  }

  .tab-box {
    padding: 1em;
    border: 1px solid #1A535C;
    border-radius: 0.25em;
  }

  .info-subtitle {
    margin-left: 1em;
    color: #878787;
    font-family: "Mulish", sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    text-align: justify;
  }

  .btn-modal-1 {
    padding: 0.3em 2em;
    margin: 3px 120px;
    background-color: #1A535C;
    color: #fff !important;
    box-shadow: none;
    border-radius: 2em;
    text-decoration: none;
    font-family: "Mulish", sans-serif;
    font-weight: 200;
    box-shadow: none !important;
  }

  .btn-modal-2 {
    padding: 0.3em 2em;
    margin: 3px 120px;
    background-color: #1A535C;
    color: #fff !important;
    box-shadow: none;
    border-radius: 2em;
    text-decoration: none;
    font-family: "Mulish", sans-serif;
    font-weight: 200;
    box-shadow: none !important;
  }

  .btn-modal-3 {
    padding: 0.3em 2em;
    margin: 3px 120px;
    background-color: #1A535C;
    color: #fff !important;
    box-shadow: none;
    border-radius: 2em;
    text-decoration: none;
    font-family: "Mulish", sans-serif;
    font-weight: 200;
    box-shadow: none !important;
  }

  .related-event {
    padding: 4em 2em;
    background-color: #91C4C1;
  }

  .related-title {
    color: #1A535C;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
  }

  .card-title {
    color: #1A535C;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 20px;
  }

  .card-text {
    color: #1A535C;
    font-family: "Mulish", sans-serif;
    font-weight: 200;
    font-size: 10px;
  }

  .footer-body {
    padding: 1em 8em;
    background: #D1AB80;
    background-size: cover;
  }

  .footer-quote {
    color: #fff;
    font-family: "Mulish", sans-serif;
    font-weight: 200;
    text-align: center;
    font-size: 14px;
  }
}